<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
      <remove invariant="Oracle.DataAccess.Client"/>
      <add name="Oracle DataAccess Provider" invariant="Oracle.DataAccess.Client" description="Oracle Data Provider for .NET, DataAccess Driver" type="Oracle.DataAccess.Client.OracleClientFactory,Oracle.DataAccess" />
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="Oracle ManagedDataAccess Provider" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess" />
      <remove invariant="DDTek.Oracle"/>
      <add name="DDTek.Oracle Data Provider" invariant="DDTek.Oracle" description=".Net Framework Data Provider for DDTek.Oracle" type="DDTek.Oracle.OracleFactory, DDTek.Oracle" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings configSource="config\db.config" />
  <appSettings configSource="config\settings.config" />
</configuration>